{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card shadow-sm rounded-4">
                <div class="card-body p-4">
                    <p class="text-muted text-center mb-4">
                        A Coordenadoria da Diversidade Sexual e de Gênero da Secretaria de Estado das Mulheres, da Juventude, da Igualdade Racial e dos Direitos Humanos realizará retificações de nome/gênero por meio do programa "Dignidade tem Nome", destinado a pessoas Travestis, Transexuais e Transgêneros dos 10 territórios da Cidadania do Rio Grande do Norte.

                        <br><br>
                        Preencha esta ficha com os seus dados para que posteriormente a Coordenadoria Sexual e de Gênero (CODIS), por meio de uma pessoa bolsista, possa entrar em contato para a realização da sua retificação.
                    </p>

                    <form method="post" enctype="multipart/form-data" class="row g-4">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="col-md-6">
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                {{ field }}
                                {% if field.help_text %}
                                    <div class="form-text">{{ field.help_text }}</div>
                                {% endif %}
                                {% if field.errors %}
                                    <div class="text-danger small">{{ field.errors }}</div>
                                {% endif %}
                            </div>
                        {% endfor %}

                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary mt-4 px-5">
                                Enviar Inscrição
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
